ul{
    color: white;
    list-style-type: none;
    overflow: hidden;
    background-color: #528bf8;

   }
  li{
      float: left;
  }
   li a{
       padding: 15px;
       display: block;
       text-decoration: none;
       color: white;
   }
   li a:hover{
       background-color: #801629;
   }